var angular = require('angular');
//-----BEGIN TEMPLATEFY TEMPLATE INCLUDES ----
//--------------------TMPL--------------------
//-----END TEMPLATEFY TEMPLATE INCLUDES ------
module.exports = templatefy.name;
